@charset "UTF-8";

/*** Icon Fonts ここから***/
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?49688757');
  src: url('../font/fontello.eot?49688757#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?49688757') format('woff'),
       url('../font/fontello.ttf?49688757') format('truetype'),
       url('../font/fontello.svg?49688757#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?49688757#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-tag:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e802'; } /* '' */

/*** ここまで ***/




body {
	background: #fff;
 	font-family: "Helvetica Neue", Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS P Gothic", sans-serif;
 	font-size: 14px;
 	width: 900px;
 	margin: 0 auto;
 	line-height: 1.7em;
}

a:link,a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: red;
}


h1 {
	padding-top: 15px;
	text-align: left;
	/*color: #777777;*/
	font-size: 300%;
	font-weight: bold;
	letter-spacing: -0.03em;
	line-height: 30%;
}

h1.title > a:link{
	color: green;
}

h1 a:hover{
	color: #5d5d5d;
}

#description {
	text-align: left;
	font-family:"HelveticaNeue-Thin";
	font-size: 120%;
	line-height: 0px;
	letter-spacing: -0.02em;
}

/* Navigation */
ul#navigation{
	display: table;
	table-layout: fixed;
	width: 900px;
	margin-top: 50px;
	padding: 0;
}

ul#navigation li{
	font-size: 90%; 
	display: table-cell;
	list-style: none;
	font-family:"HelveticaNeue-LightItalic";
	border-bottom: 1px solid #5c5c5c;
	text-align: left;
}


/* Article */
article {
	padding: 40px 0;
	border-bottom: 1px solid #5c5c5c;
}



h2 {
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
	font-size: 170%;
	margin: 0px;
	padding-bottom: 10px;
	color: #000000;
}

h3 {
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
	margin: 0px;
	padding: 40px 0 0 0;
	line-height: 0px;
}

div.date,div.tags {
	/*display: inline-block;*/
	margin: 0px;
	padding: 0px;
}

div.tags ul {
	margin: 0;
	padding: 10px 0 0 0;
}

div.tags ul li{
	display: inline;
	background: #e2e2e2;
	/*color: #6a6a6a;*/
	opacity: 0.8;
	text-decoration: none;
	font-size: 90%;
	padding: 2px 10px;
	margin: 0 5px 5px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}


div.body-text {
	line-height: 1.7em;
}

div.body-text p{
	padding: 15px 0  0 ;
	margin: 0px;
}

/** Image **/
figure {
    display: table;
    width: 160px; /* minimum width */
    *width: auto; /* for IE7 and below */
    margin: 0 auto;
}

div.photo-wrapper {
	text-align: center;
}

figcaption.caption p {
	margin: 0;
	padding: 1em 0 0 0;
}

figcaption.caption blockquote p {
	margin: 0;
	padding: 0;
}

figcaption.caption blockquote {
	padding: 0 0 0 30px;
	margin: 0;
}
/*span.tags ul {

	margin: 0;
	padding: 0;
}

span.tags ul li {
	display: inline;
}
*/

/* Footer */
footer {
	padding: 10px 0;
	margin: 30px 0;
	text-align: right;
	font-family:"HelveticaNeue-ThinItalic";

}